.direnv
.gdb-script
*.html
planvm-amd64/planvm-amd64data.s
planvm-amd64/planvm-amd64.incc.c
planvm-amd64/planvm-amd64.s
planvm-amd64/persiststart.s
*.o
o.*
oldseeds/wisp.oldseed
perf.dat*
.*.sire
sire.cache
*.swp
*.tar
*.tar.bz2
.tmp*
x/boot
x/plan
x/rpn
x/test_barrier
x/test_condition_vars
x/test_mutex
x/test_rwlock
x/test_thread
xseed/cat.seed
xseed/wisp.seed
datadir.tar.gz
datadir
oldseed
.demo-full-tag.xseed
.demo-*
.wisp-tmp
xseed/todo
